@import "tailwindcss";
@import '../styles/boska.css';
@import '../styles/gambarino.css';

@theme {
  --font-boska: 'Boska-Variable', serif;
  --font-boska-italic: 'Boska-VariableItalic', serif;
  --font-gambarino: 'Gambarino-Regular', serif;
}

*:not(a) {
  transition: all 0.2s ease-in-out;
}

:root {
  --primary: #F8EDE0;
  --primary-hover: #D9CCC4;
  --secondary: #761010;
}

body {
  background: var(--primary);
  color: var(--secondary);
}

::selection {
  background: var(--primary-hover);
  color: var(--secondary);
}

::-moz-selection {
  background: var(--primary-hover);
  color: var(--secondary);
}

